name: S2I Build Using Buildah

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install oc tool
      run: mkdir /tmp/s2i/ && cd /tmp/s2i/ && curl -s https://api.github.com/repos/openshift/source-to-image/releases/latest | grep browser_download_url | grep linux-amd64 | cut -d '"' -f 4 | wget -qi - && tar xvf source-to-image*.gz && sudo mv s2i /usr/local/bin && rm -rf /tmp/s2i/
    - name: Install okteto tool
      run: curl https://get.okteto.com -sSfL | sh
    - name: Login to quay.io using Buildah
      run: buildah login -u ${{ secrets.QUAY_USERNAME }} -p ${{ secrets.QUAY_PASSWORD }} quay.io
    - name: Generating s2i for buildah
      run: s2i build  --as-dockerfile Dockerfile https://github.com/himanshumps/vertx-starter.git quay.io/himanshumps/ubi_java8 vertx_demo
    - name: Running s2i with buildah
      run: buildah bud -v $PWD/maven/:/tmp/maven/settings/ -t quay.io/himanshumps/vertx_demo .
    - name: Pushing the image to quay registry
      run: buildah push quay.io/himanshumps/vertx_demo:latest
    - name: Deploy to openshift
      run: oc login --insecure-skip-tls-verify --token=kUch6fTfQ6C6bFZ2QdhlGt2NMfKpJIgbrFNen2WMIj4 --server=https://api.shared-na4.na4.openshift.opentlc.com:6443 && oc import-image vertx-demo1 -n hackathon
    - name: Login to okteto and change namespace
      run: okteto login --token 8NfN5g1bXtkbnY4XNNA2HHfjFoQZMbhIiranHiWm && okteto namespace 
    - name: K8S deploy to okteto
      uses: actions-hub/kubectl@v1.17.9-fix
      env:
        KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_DATA }}
      with:
        args: set image deployment vertx-demo vertx-demo=quay.io/himanshumps/vertx_demo:latest
